keycontrol/src/keycontrol.Api/bin/
keycontrol/src/keycontrol.Api/obj/
keycontrol/src/keycontrol.Api/Properties/
keycontrol/src/keycontrol.Tests/bin/
keycontrol/src/keycontrol.Tests/obj/
keycontrol/src/keycontrol.Test/Properties/
keycontrol/src/keycontrol.Api/appsettings.Development.json
keycontrol/src/keycontrol.Application/bin/
keycontrol/src/keycontrol.Application/obj/
keycontrol/src/keycontrol.Application/Properties/
keycontrol/src/keycontrol.Domain/bin/
keycontrol/src/keycontrol.Domain/obj/
keycontrol/src/keycontrol.Domain/Properties/
keycontrol/src/keycontrol.Infrastructure/bin/
keycontrol/src/keycontrol.Infrastructure/obj/
keycontrol/src/keycontrol.Infrastructure/Properties/